<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lib Edit</title>
  </head>
  <body>
    <h1>Editing The Detials</h1>
    <form action="/library/<%=libinfo.id  %>?_method=PUT" method="post">
      <div>
        <label for="name">Enter Library name:</label>
        <input type="text" name="name" id="name" value="<%= libinfo.name %>" />
      </div>
      <div>
        <label for="location">Enter Location</label>
        <input
          type="text"
          name="location"
          id="location"
          value="<%= libinfo.location  %>"
        />
      </div>
      <div>
        <label for="price">Enter price</label>
        <input
          type="number"
          name="price"
          id="price"
          value="<%= libinfo.price  %>"
        />
        <button>Update</button>
      </div>
    </form>
    <a href="/library/<%= libinfo.id %>">Back</a>
  </body>
</html>
