<%- layout('partials/BoilerPlate') %>
<h1>Library Name - <%= libinfo.name %></h1>
<img
  src="<%= libinfo.image %>"
  alt="not available"
  width="500px"
  height="500px"
/>
<p>Library Price - <%= libinfo.price %></p>
<p>Library Location - <%= libinfo.location %> (<%=libinfo.zipCode%>)</p>
<a href="/library">Go to all libraries</a>
<a href="/library/<%=libinfo.id %>/edit">Edit</a>
<form action="/library/<%=libinfo.id%>?_method=Delete" method="post">
  <button>Delete</button>
</form>
